Repository graphql-mocks/graphql-mocks, pull requests merged in 2022-10, with the labels that each got.

#210 Link up documentation for @graphql-mocks/network-cypress
  packages/docs/docs/network/introducing-network-handlers.md
  packages/docs/package.json
  packages/docs/sidebars.js
  packages/docs/src/pages/packages.jsx
Labels: documentation

#211 set cors for cli app
  packages/cli/package.json
  packages/cli/src/commands/serve.ts
  yarn.lock
Labels: bug, package: gqlmocks

#207 feat: add `clear` method to graphql-paper
  packages/paper/src/paper.ts
  packages/paper/test/unit/paper.test.ts
Labels: enhancement, package: graphql-paper

#204 Update node required version in documentation
  DEVELOPMENT.md
Labels: documentation, repo-maintenance
